<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ITBootcamp Final Project">
    <test name="Vue Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.SignUpTests"/>
            <class name="tests.AdminCitiesTests"/>
            <class name="tests.AuthRoutesTests"/>
            <class name="tests.LocaleTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->